<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>

        <package android:name="com.facebook.katana" />
    </queries>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="vocsy.ads.AdsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CreditScore"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".GetStart"
            android:exported="false" />
        <activity
            android:name=".Extra_Act"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_StartAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bank_Detail_Act"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_CompoundInterestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_EmiCalculatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_GstActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".S_FdActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RdActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PPFActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_CompareLoanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ss_TipsActivity4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TipsActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_TipsActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_TipsActivity1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SSTipsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecretBenefitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_Game_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_OnlionDataActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultscreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_CheckOfflineActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_CheckOfflineActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_CheckOfflineActivity1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bank_List_Acty"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Calculator_Act"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_MaintipsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_CheckOnlionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Check_Offline_Act"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SS_FinishActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash_screen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>